body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.costumeAttr { 
  background-color: aquamarine; 
  width: 500px; 
  font: 300;
  height: 50px;
  font-size: 20px;
} 

h1{
  background-color: yellow;
  margin-left: -10px;
  text-shadow: springgreen;
  font: bold;
  width: 500px;
}